body {
background-color: #fdf8ee;
}
p {
text-align: right;
font-size: 28px;
text-decoration: underline;
font-family: "Cambria";
}
h1 {
text-align: center;
font-size: 48px;
font-family: "Indie Flower";
}